@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 html {
    height: 100%;
    width: 100%;
  } 
 
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-align: center;
  } 

  .bodylight {
    background: #f9fbfd;
  }

  .bodydark {
    background: #03082e;
  }

  /* HEADER */
  
  header, main, footer {
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    padding: 10px;
    }

    header nav ul{
      display: flex;
      justify-content: center;
      list-style: none;
      margin:0;
      padding:0;
    }
  
    header nav ul li{
      margin:0 10px;
    }
  
    header nav ul li a {
      color: #ffffff;
      text-decoration: none;
      margin: 10px;
      font-size: 28px;
      -webkit-text-stroke: 1.5px #0027a8;
      text-shadow: 2px 1px #20c0ff, 3px 2px #32066b, -1px -1px #a560ff;
    }
    
    h1 {
    position: relative;
    z-index: 0;
    font-size: 80px;
    color: #ffffff;
    padding: 0;
    margin: 0;
    line-height: 1;
    -webkit-text-stroke: 2px #0027a8;
      text-shadow: 3px 2px #20c0ff, 5px 4px #32066b, -1px -2px #a560ff
    }
  
  .banner {
    position: relative;
    width: 100%; 
    overflow: hidden;
  }

  .sunmoonicons{
    margin: 0;
    padding: 0;
    position: relative;
    top:200px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sunmoonbuttons {
    background: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  .sunmoonbuttons img {
    width: 30px;
    height: auto; 
    display: block;
  }

  .sun {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .moon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .sun:hover {
    border: 3px solid #ffd000;
    border-radius: 50%;
  }

  .moon:hover {
    border: 3px solid #57b3ff;
    border-radius: 50%;
  }

  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
  }
  
  .video-container video {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    overflow: hidden; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modulewrap {
    position: relative;
    background: #f9fbfd; 
    border-radius: 5px; 
  }

  .modulewrapdark {
    position: relative;
    background: #03082e;
    border-radius: 5px; 
  }

  .modulewrapdark::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -2;
    border-radius: 5px; 
    background: linear-gradient(50deg, #50a2ff, #287ff1, #3b69ff, #3026bb, #4b0088);
  }

  .modulewrap::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -2;
    border-radius: 5px; 
    background: linear-gradient(50deg, #50a2ff, #287ff1, #3b69ff, #3026bb, #4b0088);
  }

  .headermodulewrap {
    position: relative;
    background: #f9fbfd; 
    border-radius: 5px; 
  }

  .headermodulewrap::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -2;
    border-radius: 5px; 
    background: linear-gradient(50deg, #50a2ff, #287ff1, #3b69ff, #3026bb, #4b0088);
  }

  .text-content {
    mix-blend-mode:lighten;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(50deg, #50a2ff, #287ff1, #3b69ff, #3026bb, #4b0088);
    background-color: #8dd5ff;
    color: #ffff;
    font-size: 3rem;
    font-weight: 900;
    overflow: hidden;
  }

  .navitems {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    color: #ffff;
    overflow: hidden;
  }

  /* MAIN */

  h2 {
    font-size: 32px;
    color: #ffffff;
    padding: 0;
    margin: 0;
    line-height: 1;
    -webkit-text-stroke: 1.5px #0027a8;
    text-shadow: 2px 1px #20c0ff, 3px 2px #32066b, -1px -1px #a560ff
  }

  h3 {
    color: #ffffff;
    -webkit-text-stroke: 1.5px #0027a8;
    text-shadow: 2px 1px #20c0ff, 3px 2px #32066b, -1px -1px #a560ff;
    font-size: 46px;
    text-align: center; 
    line-height: 30px;
  }

  p {
    color: #040c44;
    line-height: 1;
  }
   
  div {
    margin: 0px;
    padding: 6px;
  }
  
  article, section {
    padding: 20px;
    font-size: 20px;
  }

  a {
    font-size: 16px;
    text-align: center;
  }
  
  a:link {color: #ffffff;}
  a:hover {color: #00b7ff;}
  

  li {
    list-style-type: none;
    color: #040c44
  }

  /* MAIN CUSTOM CLASSES */
  
  .headshot {
    position: relative;
    overflow: hidden; /* Ensure gradient border stays within bounds */
    width: 100%; /* Adjust size as needed */
    height: 100%; /* Adjust size as needed */
    border-radius: 50%; /* Ensure circular shape */
    z-index: 2; /* Behind the image */
  }
  
  
  .headshot::before {
    content: '';
    position: absolute;
    top: -10px; /* Adjust to control the border width */
    left: -10px; /* Adjust to control the border width */
    right: -10px; /* Adjust to control the border width */
    bottom: -10px; /* Adjust to control the border width */
    z-index: -1; /* Behind the image */
    background: linear-gradient(50deg, #50a2ff, #287ff1, #3b69ff, #3026bb, #4b0088);
    border-radius: 50%; /* Ensure circular shape */
  }
  
  
  .image-container {
    position: relative; /* Ensure z-index works */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; /* Adjust size as needed */
    height: 200px; /* Adjust size as needed */
    overflow: hidden; /* Hide overflow to contain gradient */
  }
  
  .image-container img {
    width: 100%; /* Ensures image fills its container */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Removes default image whitespace */
    border-radius: 50%; /* Ensure circular shape */
  }

  .tiny {
    font-size: 16px;
  }

  .flex {
    display: flex;
  }

  .icondiv {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .center {
    justify-content: center;
    align-items: center; 
    text-align: center;
  }

  .space-evenly {
    justify-content: space-evenly;
  }

  .icons {
    max-width: 8%; 
    max-height: 8%;
    width: auto; 
    height: auto; 
  } 

  .space {
    margin: 5px;
  }

  .btn-outline-primary {
    width: 100%;
    height: 100%
  }

  .card {
    width:100%;
    height:100%
  }

  .carddark {
    background: #03082e;
  }

   @media all and (max-width: 770px) {   

    header nav ul{
      display: flex;
      justify-content: center;
      flex-direction: column;
      list-style: none;
      margin:0;
      padding:0;
    }
    .sunmoonicons{
      margin: 0;
      padding: 0;
      position: relative;
      top:365px;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .icons {
      max-width: 15%; 
      max-height: 15%;
      width: auto; 
      height: auto; 
    } 
  } 

  @media all and (max-width: 991px) {   
    .flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }    
    .icons {
      max-width: 10%; 
      max-height: 10%;
      width: auto; 
      height: auto; 
    }
  }

