@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 html {
    height: 100%;
    width: 100%;
  } 
 
  :root {
    --transition-duration: 1s ease;
    --transition-short: .3s ease;
    --bg-light: #eef1f7;
    --bg-dark: #070a29;
    --nav-color: #277dff;
  }

  body {
    max-width: 100%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-align: center;
    transition: background-color var(--transition-duration), color var(--transition-duration);
    overflow-x: hidden;
  } 

  .bodylight {
    background: var(--bg-light)
  }

  .bodydark {
    background: var(--bg-dark)
  }

  .hidden {
    opacity: 0;
    transition: opacity var(--transition-duration);
    animation:fade-out linear;
    animation-timeline: view();
    animation-range: entry 10% cover 30% 
  }

  .show {
    opacity: 1;
    transition: opacity var(--transition-duration);
    animation:fade-out linear;
    animation-timeline: view();
    animation-range: entry 10% cover 30% 
  }

  /* HEADER */

  #menuicon {
    color: var(--nav-color);
    display: none;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
    padding: 0;
  }

  .navbar a{
    display: block;
  }

  .navbar.active{
    display: block;
  }
 
  header {
    position: sticky;
    z-index: 100;
    top: 0;   
    background-size: cover;
    background-position: center;
    margin-bottom: 4px;
    max-width: 100%;
    overflow-x: hidden;
    backdrop-filter: blur(40px);
    box-shadow: 0 00 2px #00aeff;

    div {
      padding: 0px;
    }

    nav ul {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          list-style: none;
          margin:0px;
          padding:0px;
        }
    
      nav ul li a {
        margin: 0px 8px;
        text-decoration: none;
        font-size: 24px;
        font-weight: 600;
        z-index: 10;
        color: var(--nav-color)
      }

      nav ul li a:hover {
        transition: .1s ease;
        border-bottom: 3px solid var(--nav-color)
      }
        
      .navname {
        font-size: 46px;
        padding-left: 6px;
        text-align:start;
        background: linear-gradient(150deg, #b9ebff, #76b1ff, #4595ff, #6438c9, #3b0199);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #171aa7;
      }

      .sunicon{
        margin: 0;
        padding: 0;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      .moonicon{
        margin: 0;
        padding: 0;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      .sunmoonbuttons {
        background: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        z-index: 101;
      }
    
      .sunmoonbuttons img {
        display: flex;
        max-width: 40px;
      }
    
      .sun {
        border-radius: 50%;
        transition: var(--transition-short);
      }

      .sun:hover {
        border: 1px solid #ffd900;
        box-shadow: 0 0 5px 5px rgba(255, 227, 71, 0.336);
        border-radius: 50%;
        scale: 1.2;
      }

      .moon {
        border-radius: 50%;
        transition: var(--transition-short);
      }

      .moon:hover {
        border: 1px solid #00aeff;
        box-shadow: 0 0 5px 5px rgba(26, 171, 255, 0.336);
        border-radius: 50%;
        scale: 1.2
      }

  }

      
  .modulewrap {
    position: relative;
    background: inherit; 
    transition: background-color var(--transition-duration), color var(--transition-duration);
    max-width: 100%;
  }

  .modulewrap::before {
    content: '';
    position: absolute;
    z-index: -2;
  }

     
  /* MAIN */
  main {
    background-size: cover;
    background-position: center;
    }

    .intro {
      text-align: left;
      margin: 80px 0px;
    }

  .socialicons {
    color: var(--bg-light);
    font-size: 40px;
    display: flex;
    align-items: center;
  }

  .playpause {
    color: var(--nav-color);
    display: flex;
    align-items: center;
    font-size: 24px;
    -webkit-text-stroke: 1px #003cff85;

  }

    .titlename {
      font-size: 80px;
      font-weight: 800;
      -webkit-text-stroke: 1px #171aa7;
      background: linear-gradient(150deg, #b9ebff, #76b1ff, #4595ff, #8338c9, #3b0199);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h2 {
      font-size: 36px;
      font-weight: 700;
      -webkit-text-stroke: 1px #1643d6;
      background: linear-gradient(150deg, #b9ebff, #76b1ff, #4595ff, #8338c9, #3b0199);
      -webkit-background-clip: text;
    }

    h3 {
        -webkit-text-stroke: 1px #171aa7;
        font-size: 56px;
        background: linear-gradient(150deg, #b9ebff, #76b1ff, #4595ff, #8338c9, #3b0199);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h4 {
      -webkit-text-stroke: 1px #171aa7;
      font-size: 60px;
      background: linear-gradient(150deg, #b9ebff, #76b1ff, #4595ff, #8338c9, #3b0199);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  p {
    color: #ffff;
    transition: background-color var(--transition-duration), color var(--transition-duration);
  }

  article, section {
    padding: 10px;
    font-size: 20px;
    margin: 5%;
  }
  
  a:hover {
    color: #95dfff;
  }
  

  li {
    list-style-type: none;
    color: #040c44
  }

  /* MAIN CUSTOM CLASSES */

  .text-stable {
    -webkit-text-fill-color: transparent;
  }

  .text-animation {
    font-size: 36px;
  }

  .text-animation span {
    position: relative
  }

  .text-animation span::before {
    content: "Software Engineer";
    color: var(--nav-color);
    animation: words 20s infinite;
  }

  .text-animation span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    background-color: var(--bg-dark);
    height: 100%;
    border-left: 3px solid var(--bg-dark);
    right: -8px;
    animation: cursor 1s infinite, typing 20s steps(14) infinite;
}

  @keyframes cursor {
    to{
      border-left: 2px solid var(--nav-color);
    }
  }

  @keyframes words {
    0%, 20% {
      content: "Software Engineer"
    }

    21%, 40% {
      content: "Software Developer"
    }

    41%, 60% {
      content: "Web Developer"
    }

    61%, 80% {
      content: "Web Designer";
    }

    81%, 100% {
      content: "Fullstack Engineer" ;
    }
  }

  @keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
      width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%
    {
      width: calc(100% + 8px);
    }
  }

  .margin {
    margin: 10px
  }
  
  .headshot {
    position: relative;
    overflow: hidden; 
    width: 100%; 
    height: 100%; 
    border-radius: 50%; 
    z-index: 2; 
    padding: 6px;
    transition: var(--transition-short);
    justify-content: center;
    align-items: center;
    min-width: 200px;
    box-shadow: 0 0 10px 10px rgba(0, 132, 255, 0.2);
  }

  .headshot img {
    max-width: 100%;
    height: auto;
}
    
  .headshot:hover {
    box-shadow: 0 0 30px 30px rgba(0, 132, 255, 0.4);
    scale: 1.1
  }

  .headshot::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px; 
    right: -4px; 
    bottom: -4px;
    z-index: -1;
    background: linear-gradient(50deg, #50a2ff, #287ff1, #3b69ff, #3026bb, #4b0088);
    border-radius: 50%; 
  }
  
  .image-container {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
    max-width: 400px;
    min-width: 300px;
  }
  
  .image-container img {
    width: 100%; 
    height: auto; 
    display: block; 
    border-radius: 50%;
  }

  .icondiv {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .icons {
    max-width: 8%; 
    max-height: 80px;
    width: auto; 
    height: auto; 
  } 

  .btn-outline-primary {
    width: 50%;
    height: 100%;

  }

  .btn-outline-primary:hover, .btn-outline-info:hover {
    box-shadow: 0 0 4px 4px #00aeff;
  }

  .card {
    width:100%;
    height:100%;
    transition: background-color var(--transition-duration), color var(--transition-duration);
    transition: var(--transition-short);
    margin: 2px;
  }


  .card:hover {
    scale: 1.1;
    box-shadow: 0 0 5px 1px #00aeff;
  }

  .carddark {
    background: #03082e;
  }

  .tiny {
    font-size: 16px;
  }

  .flex {
    display: flex;
  }

  .space {
    margin: 5px;
  }

  .center {
    justify-content: center;
    align-items: center; 
    text-align: center;
  }

  .space-evenly {
    justify-content: space-evenly;
  }

  .space-between {
    justify-content: space-between;
  }

  .text-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


/* FOOTER */
  footer {
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    padding: 10px;
  }


/* MOBILE */

@media(prefers-reduced-motion){
  .hidden {
    transition: none;
  }

  .text-stable {
    display: block;
  }

  .text-animation {
    display: none;
  }

  .playpause {
    display: none;
  }

  :root {
    --transition-duration: none;
    --transition-short: none;
  }

}


  @media all and (max-width: 990px) { 

    .text-animation {
      font-size: 28px;
    }

    .text-stable {
      font-size: 28px;
    }

    .text-animation span::after {
      border-left: 2px solid var(--bg-dark);
      right: -2px;
      animation: cursor 1s infinite, typing 20s steps(14) infinite;
    }


    
    .order-lg-2 {
        order: 1;
    }

    .order-lg-1 {
        order: 2;
    }

    .order-md-2 {
      order: 1;
  }

    .order-md-1 {
        order: 2;
    }

    .flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .icons {
      max-width: 10%; 
      max-height: 10%;
      width: auto; 
      height: auto; 
    }

    .mobileflex {
      display: flex;
    }
  }

  @media all and (max-width: 780px) { 
    #menuicon {
      color: var(--nav-color);
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      font-size: 40px;
    }

    navbar {
      position: absolute;
      top: 100%;
      right: 0;
      width: 50%;
      background-color: rgba(0, 132, 255, 0.2);
      display: none;
    }

    navbar a{
      display: block;
    }

    navbar.active{
      display: block;
    }

    .image-container {
      flex-direction: column; 
      align-items: center;
  }
    


    header nav ul{
      display: flex;
      justify-content: center;
      flex-direction: column;
      list-style: none;
      margin:0;
    }

    .sunicon{
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 3;
      justify-content: center;
      align-items: center;
    }

    .sunmoonbuttons {
      background: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .moonicon{
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 3;
      justify-content: center;
      align-items: center;
    }

    .icons {
      max-width: 15%; 
      max-height: 15%;
      width: auto; 
      height: auto; 
    }

    
    .text-animation {
      font-size: 24px;
    }

    .text-stable {
      font-size: 24px;
    }
    
  } 



